*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    height: 100%;
    display: flex;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
form div.pregunta{
    background-color: rgba(0, 255, 255, 0.2);
    margin-top:5vh; 
    margin-bottom:15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form div.pregunta .audio{
    margin-top:5vh;
}
form div.pregunta .btn-group-toggle{
    padding:5vh;
    margin:10vh;
    display:flex;
    justify-content: center;
}
form div.pregunta .btn-group-toggle .btn{
    padding:5vh;
    margin:10vh;
    display:flex;
    justify-content: center;
}
form .button{
    padding:5vh;
    margin:5vh;
    display:flex;
    justify-content: center;
}
form .button .button_enviar{
    font-size:9vh;
}

.btn-secondary {
    background-color: rgba(105, 33, 60, .8);

  }
.btn-secondary:hover {
  background-color: rgb(20, 20, 20);
  border: .3rem solid rgba(0, 128, 0, .9);
  cursor: pointer;
  border-radius: 60%;

-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
-ms-transition: all .3s ease;
transition: all .3s ease;
}

i{
    font-size: 15vh;
    color: rgba(255, 255, 0, 0.9);
}

@media only screen and (max-width: 768px){
    .container{
        height: 75%;
        display: flex;
    }
    form{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    form div.pregunta{
        margin-top:5vh; 
        margin-bottom:10vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 2.5em;
    }
    form div.pregunta .audio{
        margin-top:2vh;
    }
    form div.pregunta .btn-group-toggle{
        padding:1vh;
        margin:5vh;
        flex-direction: column;
    }
    form div.pregunta .btn-group-toggle label.btn{
        margin-top: 0%;
        margin-bottom: 1%;
        
    }
    form div.pregunta .btn-group-toggle .btn{
        padding:5vh;
        margin:10vh;
        display:flex;
        justify-content: center;
    }
    form .button{
        margin-top: 0%;
        padding-top: 0%;
    }
    form .button .button_enviar{
        font-size:10vh;
        margin-top: 0%;
        padding-top: 0%;
    }
    
    i{
        font-size: 7vh;
        color: rgba(255, 255, 0, 0.9);
    }
}
