*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* .radio_item{
    display: none !important;
    }

    .label_item {
    opacity: 0.5;
    }
    
    .radio_item:checked + label {
    opacity: 1;
    }

label {
cursor: pointer;   
} */
.container{
    height: 100%;
    display: flex;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
form div.pregunta{
    background-color: rgba(0, 255, 255, 0.3);
    margin-top:5vh; 
    margin-bottom:15vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form div.pregunta .audio{
    margin-top:5vh;
}
form div.pregunta .btn-group-toggle{
    padding:5vh;
    margin:10vh;
    display:flex;
    justify-content: center;
}
form div.pregunta .btn-group-toggle .btn{
    padding:5vh;
    margin:10vh;
    display:flex;
    justify-content: center;
}
form .button{
    padding:5vh;
    margin:5vh;
    display:flex;
    justify-content: center;
}
form .button .btn{
    font-size:10vh;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
i{
    font-size: 15vh;
    color: yellow;
}
@media only screen and (max-width: 768px){
    .container{
        height: 75%;
        display: flex;
    }
    form{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    form div.pregunta{
        margin-top:5vh; 
        margin-bottom:10vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 3em;
    }
    form div.pregunta .audio{
        margin-top:2vh;
    }
    form div.pregunta .btn-group-toggle{
        padding:1vh;
        margin:5vh;
        flex-direction: column;
    }
    form div.pregunta .btn-group-toggle .btn{
        padding:5vh;
        margin:10vh;
        display:flex;
        justify-content: center;
    }
    form .button{
        padding:5vh;
        margin:5vh;
        display:flex;
        justify-content: center;
    }
    form .button .btn{
        font-size:10vh;
    }
    i{
        font-size: 7vh;
        color: rgba(255, 255, 0, 0.7);
    }
}
